# Initial Exploration

## Read In Data

In [23]:
import pandas as pd
df = pd.read_csv("suiciderates.csv")
df

          country  year       ...        gdp_per_capita ($)       generation
0         Albania  1987       ...                       796     Generation X
1         Albania  1987       ...                       796           Silent
2         Albania  1987       ...                       796     Generation X
3         Albania  1987       ...                       796  G.I. Generation
4         Albania  1987       ...                       796          Boomers
5         Albania  1987       ...                       796  G.I. Generation
6         Albania  1987       ...                       796           Silent
7         Albania  1987       ...                       796          Boomers
8         Albania  1987       ...                       796  G.I. Generation
9         Albania  1987       ...                       796     Generation X
10        Albania  1987       ...                       796  G.I. Generation
11        Albania  1987       ...                       796     Generation X
12        Albania  1988       ...                       769  G.I. Generation
13        Albania  1988       ...                       769     Generation X
14        Albania  1988       ...                       769  G.I. Generation
15        Albania  1988       ...                       769           Silent
16        Albania  1988       ...                       769  G.I. Generation
17        Albania  1988       ...                       769     Generation X
18        Albania  1988       ...                       769  G.I. Generation
19        Albania  1988       ...                       769          Boomers
20        Albania  1988       ...                       769          Boomers
21        Albania  1988       ...                       769           Silent
22        Albania  1988       ...                       769     Generation X
23        Albania  1988       ...                       769     Generation X
24        Albania  1989       ...                       833  G.I. Generation
25        Albania  1989       ...                       833          Boomers
26        Albania  1989       ...                       833           Silent
27        Albania  1989       ...                       833  G.I. Generation
28        Albania  1989       ...                       833     Generation X
29        Albania  1989       ...                       833           Silent
...           ...   ...       ...                       ...              ...
27790  Uzbekistan  2012       ...                      1964       Millenials
27791  Uzbekistan  2012       ...                      1964     Generation X
27792  Uzbekistan  2012       ...                      1964     Generation Z
27793  Uzbekistan  2012       ...                      1964          Boomers
27794  Uzbekistan  2012       ...                      1964           Silent
27795  Uzbekistan  2012       ...                      1964     Generation Z
27796  Uzbekistan  2013       ...                      2150     Generation X
27797  Uzbekistan  2013       ...                      2150       Millenials
27798  Uzbekistan  2013       ...                      2150       Millenials
27799  Uzbekistan  2013       ...                      2150       Millenials
27800  Uzbekistan  2013       ...                      2150          Boomers
27801  Uzbekistan  2013       ...                      2150           Silent
27802  Uzbekistan  2013       ...                      2150       Millenials
27803  Uzbekistan  2013       ...                      2150     Generation X
27804  Uzbekistan  2013       ...                      2150           Silent
27805  Uzbekistan  2013       ...                      2150     Generation Z
27806  Uzbekistan  2013       ...                      2150          Boomers
27807  Uzbekistan  2013       ...                      2150     Generation Z
27808  Uzbekistan  2014       ...                      2309     Generation X
27809  Uzbekistan  2014       ...                      2309       Millenials
27810  Uzbekistan  2014       ...                      2309       Millenials
27811  Uzbekistan  2014       ...                      2309          Boomers
27812  Uzbekistan  2014       ...                      2309       Millenials
27813  Uzbekistan  2014       ...                      2309           Silent
27814  Uzbekistan  2014       ...                      2309       Millenials
27815  Uzbekistan  2014       ...                      2309     Generation X
27816  Uzbekistan  2014       ...                      2309           Silent
27817  Uzbekistan  2014       ...                      2309     Generation Z
27818  Uzbekistan  2014       ...                      2309     Generation Z
27819  Uzbekistan  2014       ...                      2309          Boomers

[27820 rows x 12 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

### Observations:
- Age is grouped into year buckets already.
- Year goes to 2016.
- Sex should be changed to a boolean.
- HDI(Human Development Index) has a lot of missing values. Consider removing. No other columns seem to have missing values.
- gdp_for_year should probably be converted to an int.
- Generation could be made into boolean as well.

## Cleaning:

### Making Generations Boolean:

In [4]:
df_split_gen = df.copy()
df_split_gen['generation'].value_counts()

Generation X       6408
Silent             6364
Millenials         5844
Boomers            4990
G.I. Generation    2744
Generation Z       1470
Name: generation, dtype: int64

In [9]:
def gen_x_bool(gen):
    if gen == "Generation X":
        return 1
    else:
        return 0
def silent_bool(gen):
    if gen == "Silent":
        return 1
    else:
        return 0
def mil_bool(gen):
    if gen == "Millenials":
        return 1
    else:
        return 0
def boom_bool(gen):
    if gen == "Boomers":
        return 1
    else:
        return 0
def g_i_bool(gen):
    if gen == "G.I. Generation":
        return 1
    else:
        return 0
def z_bool(gen):
    if gen == "Generation Z":
        return 1
    else:
        return 0
    
df_split_gen["Generation X"] = df_split_gen["generation"].map(gen_x_bool)
print(df_split_gen["Generation X"].value_counts())

df_split_gen["Silent"] = df_split_gen["generation"].map(silent_bool)
print(df_split_gen["Silent"].value_counts())

df_split_gen["Millenials"] = df_split_gen["generation"].map(mil_bool)
print(df_split_gen["Millenials"].value_counts())

df_split_gen["Boomers"] = df_split_gen["generation"].map(boom_bool)
print(df_split_gen["Boomers"].value_counts())

df_split_gen["G.I. Generation"] = df_split_gen["generation"].map(g_i_bool)
print(df_split_gen["G.I. Generation"].value_counts())

df_split_gen["Generation Z"] = df_split_gen["generation"].map(z_bool)
print(df_split_gen["Generation Z"].value_counts())

0    21412
1     6408
Name: Generation X, dtype: int64
0    21456
1     6364
Name: Silent, dtype: int64
0    21976
1     5844
Name: Millenials, dtype: int64
0    22830
1     4990
Name: Boomers, dtype: int64
0    25076
1     2744
Name: G.I. Generation, dtype: int64
0    26350
1     1470
Name: Generation Z, dtype: int64

In [10]:
df_split_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 18 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
Generation X          27820 non-null int64
Silent                27820 non-null int64
Millenials            27820 non-null int64
Boomers               27820 non-null int64
G.I. Generation       27820 non-null int64
Generation Z          27820 non-null int64
dtypes: float64(2), int64(10), object(6)
memory usage: 3.8+ MB

### drop the generation column

In [12]:
drop_gen = df_split_gen.copy()
drop_gen.drop(labels="generation", axis='columns', inplace=True)
drop_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 17 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
Generation X          27820 non-null int64
Silent                27820 non-null int64
Millenials            27820 non-null int64
Boomers               27820 non-null int64
G.I. Generation       27820 non-null int64
Generation Z          27820 non-null int64
dtypes: float64(2), int64(10), object(5)
memory usage: 3.6+ MB

### Changing sex to Boolean:

In [13]:
df_sex = drop_gen.copy()
df_sex["sex"].replace("female", 0,inplace=True)
df_sex["sex"].replace("male", 1, inplace=True)
#rename it to male for easier understanding
df_sex.rename(columns = {'sex':'male'}, inplace = True)
df_sex

          country  year     ...       G.I. Generation Generation Z
0         Albania  1987     ...                     0            0
1         Albania  1987     ...                     0            0
2         Albania  1987     ...                     0            0
3         Albania  1987     ...                     1            0
4         Albania  1987     ...                     0            0
5         Albania  1987     ...                     1            0
6         Albania  1987     ...                     0            0
7         Albania  1987     ...                     0            0
8         Albania  1987     ...                     1            0
9         Albania  1987     ...                     0            0
10        Albania  1987     ...                     1            0
11        Albania  1987     ...                     0            0
12        Albania  1988     ...                     1            0
13        Albania  1988     ...                     0            0
14        Albania  1988     ...                     1            0
15        Albania  1988     ...                     0            0
16        Albania  1988     ...                     1            0
17        Albania  1988     ...                     0            0
18        Albania  1988     ...                     1            0
19        Albania  1988     ...                     0            0
20        Albania  1988     ...                     0            0
21        Albania  1988     ...                     0            0
22        Albania  1988     ...                     0            0
23        Albania  1988     ...                     0            0
24        Albania  1989     ...                     1            0
25        Albania  1989     ...                     0            0
26        Albania  1989     ...                     0            0
27        Albania  1989     ...                     1            0
28        Albania  1989     ...                     0            0
29        Albania  1989     ...                     0            0
...           ...   ...     ...                   ...          ...
27790  Uzbekistan  2012     ...                     0            0
27791  Uzbekistan  2012     ...                     0            0
27792  Uzbekistan  2012     ...                     0            1
27793  Uzbekistan  2012     ...                     0            0
27794  Uzbekistan  2012     ...                     0            0
27795  Uzbekistan  2012     ...                     0            1
27796  Uzbekistan  2013     ...                     0            0
27797  Uzbekistan  2013     ...                     0            0
27798  Uzbekistan  2013     ...                     0            0
27799  Uzbekistan  2013     ...                     0            0
27800  Uzbekistan  2013     ...                     0            0
27801  Uzbekistan  2013     ...                     0            0
27802  Uzbekistan  2013     ...                     0            0
27803  Uzbekistan  2013     ...                     0            0
27804  Uzbekistan  2013     ...                     0            0
27805  Uzbekistan  2013     ...                     0            1
27806  Uzbekistan  2013     ...                     0            0
27807  Uzbekistan  2013     ...                     0            1
27808  Uzbekistan  2014     ...                     0            0
27809  Uzbekistan  2014     ...                     0            0
27810  Uzbekistan  2014     ...                     0            0
27811  Uzbekistan  2014     ...                     0            0
27812  Uzbekistan  2014     ...                     0            0
27813  Uzbekistan  2014     ...                     0            0
27814  Uzbekistan  2014     ...                     0            0
27815  Uzbekistan  2014     ...                     0            0
27816  Uzbekistan  2014     ...                     0            0
27817  Uzbekistan  2014     ...                     0            1
27818  Uzbekistan  2014     ...                     0            1
27819  Uzbekistan  2014     ...                     0            0

[27820 rows x 17 columns]

### Making Age Groups Boolean:

In [14]:
age_bool = df_sex.copy()
age_bool['age'].value_counts()

35-54 years    4642
55-74 years    4642
15-24 years    4642
25-34 years    4642
75+ years      4642
5-14 years     4610
Name: age, dtype: int64

In [17]:
def g1_bool(age):
    if age == "5-14 years":
        return 1
    else:
        return 0
def g2_bool(age):
    if age == "15-24 years":
        return 1
    else:
        return 0
def g3_bool(age):
    if age == "25-34 years":
        return 1
    else:
        return 0
def g4_bool(age):
    if age == "35-54 years":
        return 1
    else:
        return 0
def g5_bool(age):
    if age == "55-74 years":
        return 1
    else:
        return 0
def g6_bool(age):
    if age == "75+ years":
        return 1
    else:
        return 0
    
age_bool["5-14 years"] = age_bool["age"].map(g1_bool)
print(age_bool["5-14 years"].value_counts())

age_bool["15-24 years"] = age_bool["age"].map(g2_bool)
print(age_bool["15-24 years"].value_counts())

age_bool["25-34 years"] = age_bool["age"].map(g3_bool)
print(age_bool["25-34 years"].value_counts())

age_bool["35-54 years"] = age_bool["age"].map(g4_bool)
print(age_bool["35-54 years"].value_counts())

age_bool["55-74 years"] = age_bool["age"].map(g5_bool)
print(age_bool["55-74 years"].value_counts())

age_bool["75+ years"] = age_bool["age"].map(g6_bool)
print(age_bool["75+ years"].value_counts())

0    23210
1     4610
Name: 5-14 years, dtype: int64
0    23178
1     4642
Name: 15-24 years, dtype: int64
0    23178
1     4642
Name: 25-34 years, dtype: int64
0    23178
1     4642
Name: 35-54 years, dtype: int64
0    23178
1     4642
Name: 55-74 years, dtype: int64
0    23178
1     4642
Name: 75+ years, dtype: int64

In [18]:
age_bool.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 23 columns):
country               27820 non-null object
year                  27820 non-null int64
male                  27820 non-null int64
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
Generation X          27820 non-null int64
Silent                27820 non-null int64
Millenials            27820 non-null int64
Boomers               27820 non-null int64
G.I. Generation       27820 non-null int64
Generation Z          27820 non-null int64
5-14 years            27820 non-null int64
15-24 years           27820 non-null int64
25-34 years           27820 non-null int64
35-54 years           27820 non-null int64
55-74 years           27820 non-null int64
75+ years             27820 non-null int64
dtypes: float64(2), int64(17), object(4)
memory usage: 4.9+ MB

### Drop the age column

In [19]:
age_bool2 = age_bool.copy()
age_bool2.drop(labels="age", axis='columns', inplace=True)
age_bool2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 22 columns):
country               27820 non-null object
year                  27820 non-null int64
male                  27820 non-null int64
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
Generation X          27820 non-null int64
Silent                27820 non-null int64
Millenials            27820 non-null int64
Boomers               27820 non-null int64
G.I. Generation       27820 non-null int64
Generation Z          27820 non-null int64
5-14 years            27820 non-null int64
15-24 years           27820 non-null int64
25-34 years           27820 non-null int64
35-54 years           27820 non-null int64
55-74 years           27820 non-null int64
75+ years             27820 non-null int64
dtypes: float64(2), int64(17), object(3)
memory usage: 4.7+ MB

### Drop HDI for year:

In [20]:
drop_hdi = age_bool.copy()
drop_hdi.drop(labels="HDI for year", axis='columns', inplace=True)
drop_hdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 22 columns):
country               27820 non-null object
year                  27820 non-null int64
male                  27820 non-null int64
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
Generation X          27820 non-null int64
Silent                27820 non-null int64
Millenials            27820 non-null int64
Boomers               27820 non-null int64
G.I. Generation       27820 non-null int64
Generation Z          27820 non-null int64
5-14 years            27820 non-null int64
15-24 years           27820 non-null int64
25-34 years           27820 non-null int64
35-54 years           27820 non-null int64
55-74 years           27820 non-null int64
75+ years             27820 non-null int64
dtypes: float64(1), int64(17), object(4)
memory usage: 4.7+ MB

### Convert GDP to numerical values:

In [21]:
gdp_to_num = drop_hdi.copy()

#renaming columns because I could not reference the column the way it was
#Also could not rename it like I did above without an error
# help from: https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas/39770407
new_cols = gdp_to_num.columns.values
new_cols[8] = 'gdp_for_year $'
new_cols[9] = 'gdp_per_capita $'
gdp_to_num.columns = new_cols

#Change the datatype of gdp_for_year
gdp_to_num['gdp_for_year $'] = gdp_to_num.iloc[:,8].str.replace(',', '').astype(float)
# help from: https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/#loc-selection
gdp_to_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 22 columns):
country              27820 non-null object
year                 27820 non-null int64
male                 27820 non-null int64
age                  27820 non-null object
suicides_no          27820 non-null int64
population           27820 non-null int64
suicides/100k pop    27820 non-null float64
country-year         27820 non-null object
gdp_for_year $       27820 non-null float64
gdp_per_capita $     27820 non-null int64
Generation X         27820 non-null int64
Silent               27820 non-null int64
Millenials           27820 non-null int64
Boomers              27820 non-null int64
G.I. Generation      27820 non-null int64
Generation Z         27820 non-null int64
5-14 years           27820 non-null int64
15-24 years          27820 non-null int64
25-34 years          27820 non-null int64
35-54 years          27820 non-null int64
55-74 years          27820 non-null int64
75+ years            27820 non-null int64
dtypes: float64(2), int64(17), object(3)
memory usage: 4.7+ MB

## Split training and test set

In [22]:
from sklearn.model_selection import train_test_split

data2 = gdp_to_num.copy()

train_set, test_set = train_test_split(data2, test_size=0.2, random_state=123)
print("traning set length:", len(train_set),"\ntest set length:", len(test_set))

traning set length: 22256
test set length: 5564